= render partial: "sidebar", locals: {groups: @groups}

.contents
  .contents__header
    .contents__header__information
      %p.contents__header__information-name #{@group.name}
      %p.contents__header__information-member-name MEMBER:#{current_user.name}

    .contents__header__edit
      =link_to "edit", edit_group_path(@group.id), class: "contents__header__edit-btn"

  .contents__body
    = render partial: "contents__message"

  .contents__footer
    = form_for [@group,@message] do |f|
      .contents__footer__form
        = f.text_field :content, class: "contents__form__field", placeholder: "type a message"
        %label.contents__footer__image
          .fa.fa-picture-o
            = f.file_field :image
        = f.submit value: "send", class: "contents__form__button"